
#page {
background-color:white;
font-family: 'Josefin Slab', serif;
}

* {
	box-sizing:border-box;
}

.color {
	color:darkgray;
}


/* Mobile device */

.name {
	font-size:150%;
	text-align:center;
	margin-bottom:20px;
}

nav {
		width:95%;
	margin:0 auto;
}

.navigation ul {
	list-style:none;
	
}

.navigation li {

	background-color:#fff;
	padding:10px;
	margin-bottom:5px;
	text-align:center;

	
}

.navigation li a{
	display:block;
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
}

#student {
	width:49%;
	margin:0 auto;
	line-height:1.3;
	color:white;
	margin-top:30px;
}

#student img {
	max-width:100%;
	width:90%;

}

#student p {
	max-width:100%;
	color:#000;
}

#portfolio {
	padding-top:50px;
	background-color:#fff;
	
}

#portfolio h1 {
	text-align:center;
	margin-bottom:20px;
}

#portfolio h2 {
	text-align:center;
	margin-top:30px;
	margin-bottom:20px;
	font-size:110%;
}


.feature {
		text-align:center;
		margin-bottom:30px;
}

.feature p {
	width:80%;
	margin:0 auto;
}

.feature img {
	width:50%;
	display:inline-block;

	
}

footer {
	text-align:center;
	overflow:hidden;
	padding-bottom:40px;
}

footer h1 {
	font-weight:bold;
	margin-bottom:20px;
}

footer #details {
	margin-top:20px;
}

footer a:link , footer a:visited{
	font-family: 'Josefin Slab', serif;
	text-decoration:none;
	color:black;
}

#details p {
	margin-top:20px;
	margin-bottom:20px;
}

#name {
	float:left;
	margin-left:20px;
}


#link {
	float:right;
	margin-right:20px;
}

#link1 {
	display:none;
}

#bottom {
	margin-top:20px;
}


/* Tablet */

@media screen and (min-width:768px) {
	


nav {
		width:100%;
 text-align:center;
}

.navigation ul {
	display:inline-block;
	margin:0 auto;
	
}

.navigation li {
	display:inline-block;
}



#student {
	width:100%;
	margin-top:30px;
	overflow:hidden;
	
}

#student img {
	max-width:90%;
	width:25%;
	margin-right:20px;
	float:right;

}

#student p {
	margin-right:35%;
	margin-left:10%;
	text-align:left;
}

#portfolio {
	overflow:hidden;
	text-align:center;
	width:100%;

}




.feature {
		float:left;
		width:45%;
		margin-bottom:30px;
	    margin-left:2%;
		
}

.feature p {
	width:70%;
	margin:0 auto;
}

.feature img {
	width:90%;
	display:inline-block;
	
}

footer {
	text-align:center;
	overflow:hidden;
	padding-bottom:40px;
}

footer h1 {
	font-weight:bold;
	margin-bottom:20px;
}

footer #detaiils {
	margin-top:20px;
}






#link {
	display:none;
}

#link1 {
	float:right;
	display:inline-block;
    margin-right:20px;
}

#link1 li {
	display:inline;
}

#bottom {
	margin-top:20px;
}

	
}

/* Desktop */

@media screen and (min-width:1024px) {
	
	.name {
   display: inline;
   position:relative;
   top:30px;
   left:20px;
}
.navigation {
   text-align: right;
}


nav {
		width:100%;
 text-align:center;
}

.navigation ul {

	display:inline-block;
	margin:0 auto;
	
}

.navigation li {
	display:inline-block;
	
}



#student {
	width:100%;
	color:black;
	overflow:hidden;
	
}

#student img {
	max-width:90%;
	width:25%;
	margin-right:20px;
	float:right;

}

#student p {
	margin-right:35%;
	margin-left:10%;
	text-align:left;
}


#portfolio {
	overflow:hidden;
	text-align:center;
	width:100%;
  margin-left:2%;
}





.feature {
		display:inline-block;
		width:30%;
		vertical-align:top;
		margin-bottom:30px;
		float:none;

}



.feature p {
	width:60%;
	margin:0 auto;
	
}

.feature h2 {
	margin:0 auto;
	width:150px;
}

.feature img {
	width:90%;
	display:inline-block;
	
}



#link {
	display:none;
}

#link1 {
	float:right;
	display:inline-block;
    margin-right:20px;
}

#link1 li {
	display:inline;
}

#bottom {
	margin-top:20px;
}



}